<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.hockeyhigh.test.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NewsController</servlet-name>
    <servlet-class>com.hockeyhigh.controller.NewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsController</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PlayerController</servlet-name>
    <servlet-class>com.hockeyhigh.controller.PlayerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerController</servlet-name>
    <url-pattern>/players</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TeamController</servlet-name>
    <servlet-class>com.hockeyhigh.controller.TeamController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamController</servlet-name>
    <url-pattern>/teams</url-pattern>
  </servlet-mapping>
</web-app>
